<% require 'pry' %>
<h1>Weigh-In Detail Page</h1>



<div class="weighinWrapper">
    <span class="name"><%= @weigh_in.user.name %>
    <span class="time">posted this weigh_in <%= time_ago_in_words(@weigh_in.created_at) %> ago and his id is <%= @weigh_in.user.id %> and the weigh_in_id is <%=@weigh_in.id%></span>
    <span></span>
    <p> <%= @weigh_in.weight %> </p>
    <p> <%= @weigh_in.status %> </p>
</div>

<h2>Comments section:</h2>




	<div id="createComment" >
		  <h3>Post a comment</h3>
		    <p>
		    	 <%= form_for [@user, @weigh_in, @comment] do |f| %>
	             <%= f.label :body %>
	             <%= f.text_area :body %><br />

	             <%= f.submit "Post comment!" %>
	           <% end %>
		    </p>
		</div>

	
	<div>

		<div>

  		<% @weigh_in.comments.each do |comment| %>
			<div>
  			<%= comment.body %>
  			Comment ID: <%= comment.id%>
  			<img src=<%= comment.user.profile_pic_url(:thumb) %> />

  			<%if (current_user == @weigh_in.user)||(comment.user == current_user) %>
  			by: <%= comment.user.name %> <%= link_to "Remove Comment", user_weigh_in_comment_path(:weigh_in_id => comment.weigh_in.id, :id => comment.id), method: :delete %>
  			<% end %>
			</div>
			<br>
  		<% end %>


  		</div>


  	</div>
  


