<!-- ROW 1 -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle" />
  </div>
  <div class="col-md-4">
    <h3><%= @weigh_in.user.name %>'s Weigh In</h3> <h3><%= time_ago_in_words(@weigh_in.created_at) %> ago</h3>
  </div>
  <div class="col-md-4"></div> 
  <div class="col-md-1"></div>
</div>

<!-- ROW 2 -->
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10 weigh-in-detail-container">
      <h1>176 lbs</h1>
      <p>Eatin' all that spaghetti</p>
        <div class="button-yeehaw-container">
          <div class="yeehaw-button-container">
            <!-- Button from Ben -->
            
              <span class="yeehaw-text"><small>click to leave a yeehaw!</small></span>
          </div>
          <div class="yeehaw-people-container">
            <div class="yeehaw-people">
              <% if @weigh_in.wi_yeehaws %>
                <%= @weigh_in.wi_yeehaws.first.user.name %>
              <% end %>
            </div>
            <div class="gave-yeehaw">gave a YEEHAW!</div>
          </div>         
        </div>
      </div>
    </div>
  <div class="col-md-1"></div>
</div>

<!-- ROW 3 -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 post-comment-container">
    <div class="comments-feed">
      <% @weigh_in.comments.each do |comment| %>
        <div>
          <img class="img-circle" src=<%= comment.user.profile_pic_url(:sq_thumb) %> />
          <p class="comment-body"><%= comment.body %></p>
          <%if (current_user == @weigh_in.user)||(comment.user == current_user) %>
          by <%= link_to "#{comment.user.name}", user_path(comment.user) %> <%= link_to "Remove Comment", user_weigh_in_comment_path(:weigh_in_id => comment.weigh_in.id, :id => comment.id), method: :delete %>
          <% end %>
        </div>
        <br>
      <% end %>
    </div>
    <div id="create-comment" >
      <%= form_for [@user, @weigh_in, @comment], :url=> user_weigh_in_comments_path(:user_id=> current_user.id, :weigh_in_id=> @weigh_in.id) do |f| %>
        <div class="row">
          <div class="col-xs-3">
             <img class="img-circle" src=<%= current_user.profile_pic_url(:sq_thumb) %> />
          </div>
          <div class="col-xs-8">
            <%= f.text_area :body, :class=>"form-control ", :required => true %><br />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 ">
            <%= f.submit "Comment!", :class=>"btn btn-info wi_comment_btn pull-right" %>
          </div>
      <% end %>
          <div class="col-xs-6">
            <%= button_to "Yeehaw!", wi_yeehaw_path(:user_id=> current_user.id, :weigh_in_id=> @weigh_in.id ), :class=>"btn btn-success wi_comment_btn pull-left" %>

          </div>
        </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
