<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Welcome! Let's get started.</h4>
      </div>
      <div class="modal-body">
        <%= nested_form_for(@user) do |f| %>
        <div class="field">
          
          <%= f.label :goal %><br>
          <%= f.text_field :goal %><br><br>
          <div class="collapse in" data-target="#goal-date">
            <%= f.label :goal_date, :id=>"goal-date" %><br>
            <%= f.text_field :goal_date, :id=>"datepicker" %>
            <br /><br>
          </div>
          <%= f.fields_for :weigh_ins, @user.weigh_ins.build do |weigh_in| %>
            <%= f.label :weight %><br>
            <%= weigh_in.text_field :weight %><br><br>
          <%= f.label :height_in_feet %>
          <%= f.select :height_in_feet, options_for_select(%w[3 4 5 6 7]) %>
          <%= f.label :height_in_inches %>
          <%= f.select :height_in_inches, options_for_select(%w[ 0 1 2 3 4 5 6 7 8 9 10 11 12]) %>
          <% end %>
        </div>
        <div class="actions">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save changes", :class=>"btn btn-primary" %>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
