<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %> 
      <% @user.friendships.each do |friendship| %>
        <tr>
          <td><%= friendship.friend.name %></td>
          <td><%= friendship.friend.name %></td>
          
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
<%= link_to "Sign in", new_user_session_path %> <br> or
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> <br><br>
New to weightable?

<%= link_to "Sign up", new_user_registration_path %> 

<% end %>