<!-- .friendships[0].friend.weigh_ins[0] - snippet for future feed enhancement -->
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %> 
      <% counter = 0 %>
      <% while counter < 4 %>
        <% @user.friendships.each do |friendship| %>
          <% if counter < friendship.friend.weigh_ins.count %>
            <tr>
              <td><%= friendship.friend.name %></td>
              <td>Pounds to go:<%= (friendship.friend.weigh_ins[counter].weight - friendship.friend.goal) %></td>
              <% if friendship.friend.weigh_ins.count > 1 %>
                <td>Progress since first check-in:<%= ((friendship.friend.weigh_ins[counter-1].weight.to_f / friendship.friend.weigh_ins[counter].weight.to_f) * 100 - 100).round(2) %>%</td>
              <% end %>
              <td>Progress toward goal:<%= ((friendship.friend.weigh_ins[counter].weight.to_f / friendship.friend.goal.to_f) * 100 - 100).round(2) %>%</td>
              <td><%= friendship.friend.weigh_ins[counter].status %></td>
            </tr>
          <% end %>
        <% end %>
      <% counter+=1 %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
<%= link_to "Sign in", new_user_session_path %> <br> or
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> <br><br>
New to weightable?

<%= link_to "Sign up", new_user_registration_path %> 

<% end %>
<% if current_user %>
  <%= render 'initial_info_modal' %>
<% end %>
<script type='text/javascript'>
  $(document).on('ready', function(e){
    $('#myModal').modal();
  });
</script>