<!-- Ultimately planning on linking to these fonts in /assets/fonts -->

<div class="col-md-12">
  <h1 id='header'>Lose weight the <span id="handwriting"><u>Gus Chiggins</u></span> way.</h1>
</div>
<!-- Underline graphic under "Gus Chiggins" will get weird with scaling for mobile, will need to look into this further
 <img id='underline' src="/index/underline.png"/> -->

<div class="gus col-md-5">
  <img class='pic' src="/index/gus_chiggins.png"/>
    <p>Gus Chiggins<br />
      Weightable Founder & CEO
    </p> 

  <h3>Weightable is:</h3>
    <ul>
      <li class="fa fa-check list"> Results Oriented</li><br />
      <li class="fa fa-check list"> Socially Connected</li><br />
      <li class="fa fa-check list"> Accountability Focused</li><br />
    </ul>
</div>

<div class="col-md-2">
</div>

<div class="user col-md-5">
  <div class="login">
    <h3>Log in to get started.</h3>
      <div class="login_form">
        <%= form_for("user", :url => user_session_path) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.text_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>
          
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %><br />

          <%= f.submit 'Sign in', class: "sign-in-button" %>

          <%= link_to "Forgot your password?", new_password_path('user') %>
        <% end %>
      </div>

    <h3>New to Weightable?</h3>
    <!-- Sign in with Facebook -->
    <%= link_to(image_tag("/index/fb.png", :alt => "Sign-in with Facebook", :class => "newToWeightable"), user_omniauth_authorize_path(:facebook)) %>
    or
    <%= link_to(image_tag("/index/register.png", :alt => "Create a Weightable Account", :class => "newToWeightable"), new_user_registration_path) %>
  </div>
</div>

<div class="breaker">
</div>

<div class="col-md-12">
  <h1>What Real People Are Saying</h1>
</div>
<div class="testimonial col-md-4">
<img class="testimonial_picture" src="/index/testimonial-left.png" />
  <p class="testimonial_text">“Gus Chiggins and his Weightable system helped keep me accountable to my New Year’s Resolution.”
  </p>
</div>

<div class="testimonial col-md-4">
<img class="testimonial_picture" src="/index/testimonial-middle.png" />
  <p class="testimonial_text">“As a personal trainer, Gus Chiggins’ Weightable app is a way for me to help my clients meet their goals.”</p>
</div>

<div class="testimonial col-md-4">
<img class="testimonial_picture" src="/index/testimonial-right.png" />
  <p class="testimonial_text">“With his patent-pending Weightable social network, Gus Chiggins has revolutionized weightloss first hand.”</p>
</div>

  

<br>

<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% end %>
