<!-- Ultimately planning on linking to these fonts in /assets/fonts -->
<div class="row main-pad" id="home-pg-bg">

  <div class="col-xs-6">
  </div>

  <div class="col-xs-6">

    <div class="row">
      <div class="col-xs-12">
        <h1 class="home-header">FEEL THE BURN</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-9">
        <h3 class="home-sub">Reach your weight goals with performance stats and a little friendly competition</h3>
      </div>
    </div>

    <div class="row">
      <div class="user col-xs-5 col-md-4">
        <div class="login">
          <h4 class="login-text">LOGIN</strong></h3>
           
          <!-- Sign in with Facebook -->
          <div class="center-div">
            <%= link_to user_omniauth_authorize_path(:facebook) do %>
              <div class="facebook-btn">
                <%= fa_icon "facebook" %><p class="newToWeightable login-text">FACEBOOK</p>
              </div>
            <% end %>
          </div>
          <p class="login-text">OR</p>
          <div class="login_form">
            <%= form_for("user", :url => user_session_path) do |f| %>
              <div class='home-sm-txt'><%= f.label "email", :email %><br />
                <%= f.text_field :email, :autofocus => true %>
              </div>

              <div class='home-sm-txt pass-pad'><%= f.label :password, "password" %><br />
                <%= f.password_field :password %>
              </div>
              <div class='home-sm-txt'>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "remember me" %><br />
              </div class="home-sm-txt">
              <div class="center-div">
                <%= link_to user_session_path do %>
                  <div class="sign-in-btn">
                    <p class="login-text sign-in">SIGN IN</p>
                  </div>
                <% end %>
              </div>
              <%= link_to "forgot password?", new_password_path('user'), :class=>"text-muted small" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-1 mid-margin">
        <div class="vert-rule"></div>
      </div>
      <div class="col-xs-5 col-md-4 new-mem-vert-pos">
        <div class="login">
          <h4 class="login-text">NEW MEMBER?</h4>
          <p>Weightable is 100% free.</p>
          <%= button_to "REGISTER", new_user_registration_path, :class => "btn btn-orange login-text" %>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

  

<br>

<script type="text/javascript">
  $(document).on('ready', function(){
    $("#home-pg-bg").closest("main").css({
          'background-color': "#141920",
          "height": "800px"}
    );
  });
</script>