<!-- Ultimately planning on linking to these fonts in /assets/fonts -->
<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="col-md-12">
  <h1 id='header'>Lose weight the <span id="handwriting"><u>Gus Chiggins</u></span> way.</h1>
</div>
<!-- Underline graphic under "Gus Chiggins" will get weird with scaling for mobile, will need to look into this further
 <img id='underline' src="/index/underline.png"/> -->

<div class="gus col-md-5">
  <img src="/index/gus_chiggins.jpg"/>
    <p>Gus Chiggins<br />
      Weightable Founder & CEO
    </p> 

  <h3>Weightable is:</h3>
    <ul>
      <li class="fa fa-check list"> Results Oriented</li><br />
      <li class="fa fa-check list"> Socially Connected</li><br />
      <li class="fa fa-check list"> Accountability Focused</li><br />
    </ul>
</div>

<div class="col-md-2">
</div>

<div class="user col-md-5">
  <div class="login">
    <h3>Log in to get started.</h3>
      <div class="login_form">
        <%= form_for("user", :url => user_session_path) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.text_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>
          
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %><br />

          <%= f.submit 'Sign in', class: "sign-in-button" %>

          <%= link_to "Forgot your password?", new_password_path('user') %>
        <% end %>
      </div>

    <h3>New to Weightable?</h3>
    <!-- Sign in with Facebook -->
    <%= link_to(image_tag("/index/fb.png", :alt => "Sign-in with Facebook", :class => "newToWeightable"), user_omniauth_authorize_path(:facebook)) %>
    or
    <%= link_to(image_tag("/index/register.png", :alt => "Create a Weightable Account", :class => "newToWeightable"), new_user_registration_path) %>
  </div>
</div>

<div class="breaker">
</div>

<div class="col-md-12">
  <h1>What Real People Are Saying</h1>
</div>
<div class="testimonial col-md-4">
<img class="testimonial_picture" src="/index/testimonial-left.png" />
  <p>“Gus Chiggins and his Weightable system helped keep me accountable to my New Year’s Resolution.”
  </p>
</div>

<div class="testimonial col-md-4">
<img class="testimonial_picture" src="/index/testimonial-middle.png" />
  <p>“As a personal trainer, Gus Chiggins’ Weightable social network is a way for me to help my clients meet their fitness goals.”</p>
</div>

<div class="testimonial col-md-4">
<img class="testimonial_picture" src="/index/testimonial-right.png" />
  <p>“With his patent-pending Weightable social network, Gus Chiggins has revolutionized weightloss first hand.”</p>
</div>

  <tbody>
     <% if current_user %> 
      <% counter = 0 %>
        <% while counter < 4 %>
          <% @user.friendships.each do |friendship| %>
            <% if counter < friendship.friend.weigh_ins.count %>
              <tr>
                <td><%= friendship.friend.name %></td>
                <td>Pounds to go:<%= (friendship.friend.weigh_ins[counter].weight - friendship.friend.goal) %></td>
                <% if friendship.friend.weigh_ins.count > 1 %>
                  <td>Progress since first check-in:<%= ((friendship.friend.weigh_ins[counter-1].weight.to_f / friendship.friend.weigh_ins[counter].weight.to_f) * 100 - 100).round(2) %>%</td>
                <% end %>
                <td>Progress toward goal:<%= ((friendship.friend.weigh_ins[counter].weight.to_f / friendship.friend.goal.to_f) * 100 - 100).round(2) %>%</td>
                <td><%= friendship.friend.weigh_ins[counter].status %></td>
              </tr>
            <% end %>
          <% end %>
        <% counter+=1 %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% end %>
<% unless current_user && current_user.weigh_ins %>
  <%= render 'initial_info_modal' %>
<script type='text/javascript'>
  $(document).on('ready', function(e){
    $('#myModal').modal();
  });
</script>
<% end %>
