<% require "date" %>
<script src="Chart.js"></script>

<div class="row-fluid profile-pad">
  <div class="col-xs-11 col-xs-offset-1 col-sm-offset-1 col-sm-5 col-md-3 no-horiz-pad">
    <div class="row-fluid">
      <div class="col-xs-12 col-xs-offset-1 col-sm-offset-0  col-md-offset-0 no-horiz-pad">
        <% if @user.profile_pic_url %>
          <img class="profile-pic clearfix" src=<%= @user.profile_pic_url(:sq_medium) %> />
        <% else %>
          <%= render "form_set_profile_pic" %>
        <% end %>
      </div>
    </div>
  </div>

<!-- About Me Section -->
  <div class="col-xs-12 col-xs-offset-1 col-sm-5 col-sm-offset-0 col-md-5 col-lg-4 about-me">
    <div class="row-fluid">
      <div class="col-xs-12 col-xs-offset-1 col-sm-offset-0 col-sm-12 "> 
        <h1 class="username"><%= @user.name.capitalize %></h1> <br>
        <h3 class="inline-text">goal <strong><%= @user.goal %> lbs</strong></h3>
        <a href="<%= edit_user_path(@user)%>" class="edit-goal-pad small text-muted"><%= fa_icon "pencil 2x" %> EDIT GOAL</a> <br>
        <div class="weighin-friend-text">
          <span><%= @user.weigh_ins.size %> weigh-ins |</span> 
          <span class="spacing"> <%= @user.friends.size %> friends</span> 
        </div><br>

        <% if current_user == @user %>
          <% if @user.weigh_ins.first.created_at + 24*60*60 > Time.now %>
            <%= render "form_edit_weigh_in" %>
          <% else %>
            <%= render "form_create_weigh_in" %>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>


<!-- END OF ROW 1 -->
<div class="row-fluid">
  <div class="col-xs-12">
    
    <div class="row-fluid">
      <div class="col-xs-10 col-sm-8 col-sm-offset-1 prog-bar-con">
        <div class="prog-bar-base"></div>
        <div class="prog-bar-overlay" style="width:<%= @progress %>%"></div>
      </div>
      <div class="col-xs-2">
        <div class="goal-date-con">
          <h4 class="no-horiz-pad inline-text text-muted"><strong><%= @user.goal %></strong> <small>lbs</small></h4>
          <% if @user.goal_date != nil %>
            <p class='text-muted'><%= @user.goal_date.to_formatted_s(:short) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
      </div>  
      <div class="col-xs-6">
        <p id="progress-label"><strong><%=@progress.round(2)%>%</strong> to goal! </p>
      </div>  
      <div class="col-xs-3">
      </div>  
  </div>
</div>

<!-- END OF ROW 2 -->

<div class="row-fluid">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6">
    <div class="row-fluid">
      <div class="col-xs-12">
        <h1>your stats</h1>
        <div class="stat-graph">
          <canvas id="myChart" width="600" height="400"></canvas>
        </div>
      </div>
    </div>


<!-- Displays user's BMI from users_controller and rounds to nearest two digit decimal place -->
    <div class="row">
      <div class="col-xs-12">
        <h1>Body Mass Index (BMI): <%= @bmi %></h1>
        <!-- The user's lowest weigh in -->
        <h1>Record Weight: <%= @record_weight %></h1>
        <!-- User's BMI description -->
        <h3> <%= @record_weight_status %></h3>
      </div>
    </div>
  </div>

<!-- Renders User timeline -->
  <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-5">
    <div class="feed-timeline hidden-xs"></div>
    
      <%= render 'show_wi_feed' %>  
    </div>
  </div>
</div>


	<script type="text/javascript">
  

  $(function() {
	options = {
		// set to line chart instead of curve
		//Boolean - If we want to override with a hard coded scale
		scaleOverride : true,
		
		//** Required if scaleOverride is true **
		//Number - The number of steps in a hard coded scale
		scaleSteps : 5,
		//Number - The value jump in the hard coded scale
		scaleStepWidth : <%= (((@user.weigh_ins.first.weight+5)-(@user.goal-15))/5) %>,
		//Number - The scale starting value
		scaleStartValue : <%= @user.goal-2%>,
		
    pointDotRadius : 6,
    datasetStrokeWidth : 6,
    scaleFontFamily : 'Open Sans',
    scaleGridLineColor : "rgba(112,160,172,.5)",
		


	}

  	data = {
    labels :  <%=raw @dates.length > 7 ? @dates[-7,7] : @dates %>,
    datasets : [
       {
        strokeColor : "rgba(38,104,120,0)",
        pointColor : "rgba(38,104,120,0)",
        pointStrokeColor : "rgba(61,185,209,0)",
        fillColor : "rgba(75,177,199,0.7)",
        data : <%= @weights.length > 7 ? @weights[-7,7] : @weights %>
      },
  

       {
        strokeColor : "rgba(231,87,53,0)",
        pointColor : "rgba(51,51,51,0)",
        pointStrokeColor : "rgba(0,132,164,0)",
        fillColor : "rgba(105,207,144,0.8)",
        data : <%= @weights.length > 7 ? @goal[-7,7] : @goal %>
      },
   
       {
         strokeColor : "rgba(231,87,53,.9)",
         pointColor : "rgba(51,51,51,0)",
         pointStrokeColor : "rgba(0,132,164,0)",
         fillColor : "rgba(105,207,144,0)",
         data : <%= @weights.length > 7 ? @goal[-7,7] : @goal %>
       },

      {
        strokeColor : "rgba(38,104,120,.8)",
        pointColor : "rgba(38,104,120,1)",
        pointStrokeColor : "rgba(61,185,209,1)",
        fillColor : "rgba(75,177,199,0)",
        data : <%= @weights.length > 7 ? @weights[-7,7] : @weights %>
      }
    ]
  }

  myNewChart = new Chart($("#myChart").get(0).getContext("2d")).Line(data,options)
});</script>

<script>
$( "#progressbar" ).progressbar({
  value: <%=@progress%>
});
</script>
