<% require "date" %>

<script src="Chart.js"></script>

<div class="row profile-pad ">
<!-- Profile Pic Section --!>
  <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-3 no-horiz-pad">
    <% if @user.profile_pic_url %>
      <img class="profile-pic round-pic clearfix" src=<%= @user.profile_pic_url(:sq_medium) %> />
    <% else %>
      <%= render "form_set_profile_pic" %>
    <% end %>
  </div>

<!-- About Me Section -->
  <div class="col-xs-10 col-xs-offset-4 col-sm-4 neg-margin about-me"> 
    <h1 class="username"><%= @user.name.split.map(&:capitalize).join(' ') %></h1> <br>
    <h3 class="inline-text">goal <strong><%= @user.goal %> lbs</strong></h3>
    <%= current_user_content do %>
      <a href="<%= edit_user_path(@user)%>" class="edit-goal-pad small text-muted"><%= fa_icon "pencil 2x" %> EDIT PROFILE</a> <br>
    <%end%>
    <div class="weighin-friend-text">
      <span><%= @user.weigh_ins.size %> weigh-ins |</span> 
      <span class="spacing"> <%= @user.friends.size %> friends</span> 
    </div><br>

  <%= current_user_content do %>
    <% if @user.weigh_ins.first.created_at + 24*60*60 > Time.now %>
      <%= render "form_edit_weigh_in" %>
    <% else %>
      <%= render "form_create_weigh_in" %>
    <%end%>
  <%end%>
  </div>
</div>


<!-- END OF ROW 1 -->
<div class="row">
  <div class="col-xs-12">
    
    <div class="row">
      <div class="col-xs-9 col-xs-offset-1 prog-bar-con">
        <div class="prog-bar-base"></div>
        <div class="prog-bar-overlay" style="width:<%= @user.progressbar %>%"></div>
      </div>
      <div class="col-sm-2">
        <div class="goal-date-con">
          <h4 class="no-horiz-pad inline-text text-muted"><strong><%= @user.goal %></strong> <small>lbs</small></h4>
          <% if @user.goal_date != nil %>
            <p class='text-muted'><%= @user.goal_date.to_formatted_s(:short) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
      </div>  
      <div class="col-xs-4">
        <p id="progress-label"><strong><%=@user.progressbar.round(2)%>%</strong> to goal! </p>
      </div>  
      <div class="col-xs-4">
      </div>  
  </div>
</div>

<!-- END OF ROW 2 -->

<div class="row">
  <div class="col-7 col-sm-7 col-lg-7">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="stats-header">your stats</h1>
        <div class ="chart-container">
        <canvas id="myChart" width="800" height="500"></canvas>
        </div>
      </div>
    </div>


<!-- Green -->
<!-- Displays user's BMI from users_controller and rounds to nearest two digit decimal place -->
    <div class="row green-dashboard">
      <div class="col-xs-12 col-sm-6">

        <div class="row dash-element">
          <div class="col-xs-12">
            <h4 class="green-box-headers">10-DAY PROGRESS</h4>
            <canvas id="dashboardChart" height="160" width="400"></canvas>
          </div>
        </div>
        <hr class="visible-xs">
        <div class="row ">
          <div class="col-xs-12 bmi-height">
            <h4 class="green-box-headers">BODY MASS INDEX (BMI)</h4>
            <div class="dashboard-data-container">
            <div class="dashboard-data bmi-index"><%= @user.bmi %></div>
              <div class="data-subheader"><%= @user.bmi_status %></div>
            </div> 
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="row dash-element goal-proj">
          <div class="col-xs-12">
            <h4 class="green-box-headers goal-proj">GOAL PROJECTION</h4>
            <div class="dashboard-data-container">
              <div class="dashboard-data goal-projection-status"><%=@goal_projection_status%></div>
              <div class="data-subheader">finish on: <%=@finish_date%></div>
            </div>
          </div>
        </div>

        <hr class="visible-xs">
        <div class="row"> 
          <div class="col-xs-12">
            <h4 class="green-box-headers">RECORD WEIGHT</h4>
            <div class="dashboard-data-container">
              <div class="goal-projection-status">
                <i class="fa fa-trophy record-weight-trophy"></i>
                <span class="dashboard-data"><%= @user.record_weight %></span>
                <span class="record-weight">lbs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Renders User timeline -->
  <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-5">
    
    <%= render 'show_wi_feed' %>  
    </div>
  </div>
</div>


	<script type="text/javascript">
  

  $(function() {
	options = {
		// set to line chart instead of curve
		//Boolean - If we want to override with a hard coded scale
		scaleOverride : true,
		
		//** Required if scaleOverride is true **
		//Number - The number of steps in a hard coded scale
		scaleSteps : 5,
		//Number - The value jump in the hard coded scale
		scaleStepWidth : <%= (((@user.weigh_ins.first.weight+5)-(@user.goal-15))/5) %>,
		//Number - The scale starting value
		scaleStartValue : <%= @user.goal-2%>,
		
    pointDotRadius : 6,
    datasetStrokeWidth : 6,
    scaleFontFamily : 'Open Sans',
    scaleGridLineColor : "rgba(112,160,172,.5)",
		


	}

  	data = {
    labels :  <%=raw @dates.length > 7 ? @dates[-7,7] : @dates %>,
    datasets : [
       {
        strokeColor : "rgba(38,104,120,0)",
        pointColor : "rgba(38,104,120,0)",
        pointStrokeColor : "rgba(61,185,209,0)",
        fillColor : "rgba(75,177,199,0.7)",
        data : <%= @weights.length > 7 ? @weights[-7,7] : @weights %>
      },
  

       {
        strokeColor : "rgba(231,87,53,0)",
        pointColor : "rgba(51,51,51,0)",
        pointStrokeColor : "rgba(0,132,164,0)",
        fillColor : "rgba(105,207,144,0.8)",
        data : <%= @weights.length > 7 ? @goal[-7,7] : @goal %>
      },
   
       {
         strokeColor : "rgba(231,87,53,.9)",
         pointColor : "rgba(51,51,51,0)",
         pointStrokeColor : "rgba(0,132,164,0)",
         fillColor : "rgba(105,207,144,0)",
         data : <%= @weights.length > 7 ? @goal[-7,7] : @goal %>
       },

      {
        strokeColor : "rgba(38,104,120,.8)",
        pointColor : "rgba(38,104,120,1)",
        pointStrokeColor : "rgba(61,185,209,1)",
        fillColor : "rgba(75,177,199,0)",
        data : <%= @weights.length > 7 ? @weights[-7,7] : @weights %>
      }
    ]
  }

  myNewChart = new Chart($("#myChart").get(0).getContext("2d")).Line(data,options)
});</script>

<script type="text/javascript">
  


  $(function() {
  options = {
    //Boolean - If we show the scale above the chart data     
    scaleOverlay : false,

    // set to line chart instead of curve
    //Boolean - If we want to override with a hard coded scale
    scaleOverride : true,
    
    //String - Colour of the scale line 
    scaleLineColor : "rgba(78,198,124,0)",
    
    //Boolean - Whether to show labels on the scale 
    scaleShowLabels : false,
    
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : false,
    
    //Boolean - If there is a stroke on each bar  
    barShowStroke : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(255,255,255,0)",

    //Number - Width of the grid lines
    scaleGridLineWidth : .001, 

    //String - Scale label font declaration for the scale label
    scaleFontFamily : "'Open Sans'",

    //String - Scale label font colour
    scaleFontColor : "#FFFFFF",  

    //Number - Scale label font size in pixels  
    scaleFontSize : 20,

    //** Required if scaleOverride is true **
    //Number - The number of steps in a hard coded scale
    scaleSteps : 5,
    //Number - The value jump in the hard coded scale
    scaleStepWidth : <%= (((@user.weigh_ins.first.weight+5)-(@user.goal-15))/5) %>,
    //Number - The scale starting value
    scaleStartValue : <%= @user.goal-2%>,
    
    pointDotRadius : 6,
    datasetStrokeWidth : 6,
    scaleFontFamily : 'Open Sans',
    scaleGridLineColor : "rgba(112,160,172,.5)",
    


  }

    data = {
    labels :  <%=raw @day_initials.length > 10 ? @day_initials[-10,10] : @day_initials %>,
    datasets : [
       {
        fillColor : "rgba(255,255,255,1)",
        strokeColor : "rgba(255,255,255,1)",
        data : <%= @weights.length > 10 ? @weights[-10,10] : @weights %>
      }      
    ]
  }

  myNewChart = new Chart($("#dashboardChart").get(0).getContext("2d")).Bar(data,options)
});</script>

<script>
$( "#progressbar" ).progressbar({
  value: <%=@user.progressbar%>
});
</script>
