<p id="notice"><%= notice %></p>
<script src="Chart.js"></script>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <img class="profile-pic clearfix" src=<%= @user.profile_pic %> />

</p>
<canvas id="myChart" width="400" height="400"></canvas>

 		 <%= @user.weigh_ins.size %> Weigh-Ins     |     
       
        <span class="spacing"><%= @user.friends.size %> Fat Friends</span> <br><br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div id="createWeighIn" >
	  <h1>Post a weigh-in</h1>
	    <p>
	    	 <%= form_for @weigh_in do |f| %>
             <%= f.label :weight %>
             <%= f.text_field :weight %><br />

             <%= f.label :status%>
             <%= f.text_field :status %><br />

             <%= f.submit "Weigh In!" %>
           <% end %>



 
	    </p>
	</div>


	<div id="weighins">
	    
	</div>
	<div class="panel left">
	    <h1>Your Weigh-Ins</h1>
	    <% @user.weigh_ins.each do |weight| %>
	    <% @weights.unshift(weight.weight) %>
	            <div class="weighinWrapper">
	                <span class="name"><%= @user.name %>
	                <span class="time">posted <%= time_ago_in_words(weight.created_at) %> ago</span>
	                <p> <%= weight.weight %> </p>
	                <p> <%= weight.status %> </p>
	            </div>
	    <% end %>
	</div>
	<script type="text/javascript">$(function() {
  data = {
    labels : ["April","May","June","July"],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,1)",
        pointStrokeColor : "#aaa",
        data : <%= @weights %>
      }
    ]
  }

  myNewChart = new Chart($("#myChart").get(0).getContext("2d")).Line(data)
});</script>
