<!-- this is a global layout -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Weightable App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Weightable App" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  </head>
  <body>
    <header>
        <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/messages' %>
    <main role="main" id="landing">
      <!-- this adds text/content to the layout after these global elements -->
      <div>
      <div class="container" id="words" >
		    <%= yield %>
     </div>
     </div>
    </main>
    <div class="footer">
      <% if user_signed_in? %>
      Signed in as <%= current_user.name %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
      <% end %>
    </div>
  </body>
</html>
<% if current_user && current_user.weigh_ins.count == 0 %>
  <%= render 'initial_info_modal' %>
<script type='text/javascript'>
  $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
  $(document).on('ready', function(e){
    $('#myModal').modal();
  });
</script>
<% end %>
